// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$blue:#33A6B8;
$dark-blue:#2B5F75;
$light-blue:#A5DEE4;

$red:#DB4D6D;
$dark-red:#9F353A;
$light-red:#F4A7B9;
$info-content: attr(data-title);
$warning-content: attr(data-title);
$block-padding: 2em 2em 1em;

p.info {
	position: relative;
	background: $light-blue;
	padding: $block-padding;
	margin: 1em auto;
	z-index:9;
	font-size: 13pt;
	&:before {
		font-size: 12pt;
		content: $info-content;
		color: #fff;
		background: $blue;
		display: block;
		position: absolute;
		top: -.5em;
		left: -1em;
		padding: .5em 2em .5em;
	}
	&:after{
		font-size: 12pt;
		content: " ";
		display: block;
		position: absolute;
		border: .5em solid transparent;
		border-top-color: $dark-blue;
		border-right-color: $dark-blue;
		top: 2em;
		left: -1em;
		z-index: -999;
	}

	&.warning {
		background: $light-red;
		&:before {
			content: $warning-content;
			background: $red;
		}
		&:after{
			border-top-color: $dark-red;
			border-right-color: $dark-red;
		}
	}
}

//以上是_ribbonp.scss